<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @report.user_id %>
</p>

<p>
  <b>Date:</b>
  <%= @report.date %>
</p>

<table class = "table table-bordered">
  <thead>
  	<tr>
  	  <th> Date </th>
  	  <% catalogs = Catalog.all%>
      <% catalogs.each do |catalog| %>
        <th><%= catalog.name %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
	 <td><%= @report.date %></td>
	 <td><%= @detail.content %></td>
	 <td><%= @detail.content %></td>
    </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
